<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>add employee</title>
</head>

<body>
	<br>
	<h2 align="center">
		<font color="red" face="Verdana">Employee Registration Portal</font>
		<h2>
</body>

<form action="/delete" method="DELETE">
<table align="center" border="1" cellspacing="3" cellpadding="2" style='font-size:medium'>
	<font size="2">

		</tr>
		<td>Id:</td>
		<td><input type="text" name="eid"></td>
		</tr>
	
		</tr>
		<td colspan="2"><input type="submit" value="DELETE"></td>
		</tr>
	</font>
</table>

</html>